@font-face {
    font-family: "lato";
    src: url("/font/lato/LATO-LIGHT.TTF");
}
@font-face {
    font-family: "mochiy_pop_one";
    src: url("/font/mochiy_pop_one/MOCHIYPOPONE-REGULAR.TTF");
}
:root {
    --debug: rgba(255,0,0,.4);
    --default-background: lavender;
    --home-background: aliceblue;
    --gcaci-color-1: #fefae0;

    scroll-snap-type: y mandatory;
}
*::-webkit-scrollbar {
    display: none;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: lavender;

    height: 100vh;
    width: 100vw;
}
.main_wrapper {
    position: static;
    z-index: auto;

    display: block;
    height: 100vh;
    width: 100vw;

    scroll-snap-type: y mandatory;
}
.navigator_wrapper {
    position: fixed;
    z-index: 71;
    top: 0;
    right: calc(-1 * clamp(300px,40vw,100%));

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40vw;
    min-width: 300px;

    background-color: rgba(0, 0, 0, 0.4);

    transition: all .6s;

}
.navigator_switch {
    position: absolute;
    top: 0;
    right: clamp(300px,40vw,100%);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 5vw;
    min-height: 50px;
    max-height: 60px;

    aspect-ratio: 1/1;

    font-size: 1.5em;
    font-family: "mochiy_pop_one";

    background-color: black;

    color: white;

    transition: transform 1s ease;
}
.home {
    position: static;
    z-index: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    background-color: aliceblue;

    scroll-snap-align: center;
}
.home_title {
    position: absolute;
    z-index: 69;
    top: 0;
    left: 0;

    display: flex;
    justify-content: start;
    align-items: center;

    padding: 20px 20px 20px 40px;
    
    width: 100%;
    height: 5vw;
    min-height: 50px;
    max-height: 60px;

    font-size: 1.2em;
    font-weight: 100;
    font-family: "mochiy_pop_one";
    text-shadow: 2px 2px 1px gray;

    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.6);
}
.home_title::after , .home_notice::after {
    content: " ​ ​__";
    animation: blink 1s ease infinite alternate;
}
.home_notice {
    position: absolute;
    z-index: 70;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px 20px 20px 20px;
    
    width: 90%;

    height: 5vw;
    min-height: 50px;
    max-height: 60px;

    font-size: 1.2em;
    font-weight: 100;
    font-family: "mochiy_pop_one";
    text-shadow: 2px 2px 1px gray;
    font-style: oblique;

    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.8);

    border-radius: 2px;

    animation: insert 1s ease;
}
.home_image {
    position: static;
    z-index: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    width: 100%;
    font-size: 1.1em;
    font-weight: 700;
    font-family: "lato";

    background-image: url("../img/gcaci/genesis_snow.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10% center;
    background-size: cover;

    /* filter: blur(4px); */
    filter: saturate(.1);
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes insert {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}